
<div class="card">
<div class="title">{{ tourItem ? tourItem.title : "" }}</div><br>


<img (click)="imageClicked()" *ngIf="tourItem?.imgURL" class="image" [src]="tourItem?.imgURL">
<img (click)="imageClicked()" *ngIf="!tourItem?.imgURL" class="image"
    src="https://freepikpsd.com/file/2020/04/bahama-breeze-logo-png-Transparent-Images.png"> <!-- default image -->



<div class="tags" *ngIf="tourItem?.tags">
    <span appHoverAffect ="tagbold" class="tag" *ngFor="let tag of tourItem?.tags">
        #{{ tag }}
    </span>
</div>
<br>
<div>
    <a [routerLink]="['/tour', tourItem?.id ?? 0]" routerLinkActive="active">
        tour Details
      </a>
</div>
<!-- <div class="name">{{ tourItem ? tourItem.name : "" }}</div> -->

</div>